<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_with_eef">
  <!-- include macros for ur10e and the end effector (eef) model -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur10e.xacro"/>

  <!-- create the robot + eef combo itself as a macro -->
  <xacro:macro name="ur10e_with_gripper" params="prefix">

    <!-- instantiate eef model -->
    <xacro:robotiq_arg2f_85 prefix="${prefix}" />
    
    <joint name="gripper_to_ur10e" type="fixed">
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <parent link="${prefix}flange"/>
      <child link="${prefix}robotiq_arg2f_base_link"/>
    </joint>

    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
    </gazebo>

  </xacro:macro>

  <xacro:ur10e_with_gripper prefix="''"/>
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  <!-- add a cylinder to the world for interaction -->
  
  <!-- <xacro:property name="width" value="0.01" />
  <xacro:property name="bodylen" value="0.05" />
  <link name="cylinder_link">
      <visual>
          <geometry>
              <cylinder radius="${width}" length="${bodylen}"/>
          </geometry>
      </visual>
      <collision>
          <geometry>
              <cylinder radius="${width}" length="${bodylen}"/>
          </geometry>
      </collision>
  </link>

  <joint name="cylinder_base_joint" type="fixed">
      <parent link="world"/>
      <child link="cylinder_link"/>
      <origin xyz="0.8 0 0.8" rpy="0 0 0"/>
  </joint> -->

</robot>